<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forgot Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="shortcut icon" th:href="@{/img/em_fav.png}" type="image/x-icon" />
<script type="text/javascript" th:src="@{/js/jquery3.min.js}"></script>
</head>
<body>
	<div id="wrapper" class="toggled">
		
		<!-- Navbar Fragment -->
		<div th:replace="layout :: navbar"></div>
		
		<!-- Sidebar Fragment -->
		<!-- <div th:replace="layout :: sidebar"></div> -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h2>Forgot Password</h2>
							<hr />
						</div>
						<form action="#" method="post" th:action="@{/forgotPassword}"
							th:object="${forgotUser}">
							<div class="form-group">
								<label class="control-label col-sm-2"> User Name : </label>
								<div class="input-group col-sm-3">
									<input type="text" th:field="*{userName}" class="form-control"
										placeholder="Enter User Name" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2"> Security Question
									: </label>
								<div class="input-group col-sm-3">
									<select name="questionList" th:field="*{secQuest}"
										class="form-control">
										<option value="">Select Option</option>
										<option th:each="question : ${questions}"
											th:value="${question.question}"
											th:text="${question.id} + ' : ' + ${question.question}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2"> Answer : </label>
								<div class="input-group col-sm-3">
									<input type="password" th:field="*{answer}"
										class="form-control" placeholder="Enter Answer" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2"> New Password : </label>
								<div class="input-group col-sm-3">
									<input type="password" th:field="*{newPassword}"
										class="form-control" placeholder="Enter Password" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2"> Confirm New
									Password : </label>
								<div class="input-group col-sm-3">
									<input type="password" th:field="*{confirmPassword}"
										class="form-control" placeholder="Re-enter Password" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-8">
									<input type="submit" value="Reset" class="btn btn-success" />
								</div>
							</div>
							<div class="form-group">
								<th:block th:if="${param.reset != null}">
									<div th:if=" ${param.reset[0]} == 'failedPassword'"
										class="alert alert-danger msg col-sm-3"
										th:text="#{forgotPassword.error.password}"></div>
									<div th:if=" ${param.reset[0]} == 'failedQues'"
										class="alert alert-danger msg col-sm-3"
										th:text="#{forgotPassword.error.question}"></div>
								</th:block>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

</body>
</html>
