
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search a Patient</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="shortcut icon" th:href="@{/img/em_fav.png}"
	type="image/x-icon" />
<script type="text/javascript" th:src="@{/js/jquery3.min.js}"></script>
</head>
<body>
	<div id="wrapper" class="toggled">

		<!-- Navbar Fragment -->
		<div th:replace="layout :: navbar"></div>

		<!-- Contact Us Fragment -->
		<div th:replace="layout :: contactUs"></div>

		<!-- Sidebar Fragment -->
		<div th:replace="layout :: sidebar"></div>

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h2>Search Learner</h2>
							<hr />
						</div>
						<form action="#" method="post"
							th:action="@{/dashboard/learnerSearch}"
							th:object="${viewPatient}" class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-sm-2"> Search By : </label>
								<div class="col-sm-2">
									<select name="filterByList" id="searchDrop"
										th:field="*{searchFilter}" class="form-control">
										<option value="">Select a Filter</option>
										<option th:value="id">Id</option>
										<option th:value="name">Name</option>
										<option th:value="age">Age</option>
									</select>
								</div>

								<div class="col-sm-3 input-group">
									<input type="text" class="form-control" id="searchValue"
										th:field="*{searchText}" placeholder="Enter a Text" />
									<div class="input-group-btn">
										<button class="btn btn-default" type="submit">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</div>
								</div>
								<span class="col-sm-3" id="msg"></span>
							</div>

							<div class="table-responsive"
								th:if="${not #lists.isEmpty(patientDetails)}">
								<table class="table table-striped" id="resultTable">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Gender</th>
											<th>Age</th>
											<!-- <th>View</th>
											<th>Edit</th>
											<th>Delete</th>
											<th th:if="${session.userRole} != 'receptionist'">New Visit</th> -->
										</tr>
									</thead>
									<tbody>
										<tr th:each="patient : ${patientDetails}"
											class="clickable-row" th:id="'tr' + ${patient.patientId}">
											<td th:text="${patient.patientId}"></td>
											<td th:id="'fullName' + ${patient.patientId}"
												th:text="${patient.title} + ' ' + ${patient.firstName} + ' ' + 
												${patient.middleName} + ' ' + ${patient.lastName}"></td>
											<td th:id="'gender' + ${patient.patientId}"
												th:text="${patient.gender}"></td>
											<td th:id="'age' + ${patient.patientId}"
												th:text="${patient.age}"></td>
											<td>
												<button type="button" class="btn" data-toggle="modal"
													th:attr="data-target='#viewModal' + ${patient.patientId}">
													<i class="glyphicon glyphicon-eye-open"></i> View
												</button> <!-- View Modal -->
												<div th:attr="id='viewModal' + ${patient.patientId}"
													class="modal fade" role="dialog">
													<div class="modal-dialog">
														<!-- Modal content-->
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal">&times;</button>
																<h4 class="modal-title">Personal Details</h4>
															</div>
															<div class="modal-body">
																<table class="table table-striped">
																	<tr>
																		<th>Id</th>
																		<td th:text="${patient.patientId}"></td>
																	</tr>
																	<tr>
																		<th>First Name</th>
																		<td th:id="'firstNameView' + ${patient.patientId}"
																			th:text="${patient.title} + ' ' + ${patient.firstName}"></td>
																	</tr>
																	<tr>
																		<th>Middle Name</th>
																		<td th:id="'middleNameView' + ${patient.patientId}"
																			th:text="${patient.middleName}"></td>
																	</tr>
																	<tr>
																		<th>Last Name</th>
																		<td th:id="'lastNameView' + ${patient.patientId}"
																			th:text="${patient.lastName}"></td>
																	</tr>
																	<tr>
																		<th>Gender</th>
																		<td th:id="'genderView' + ${patient.patientId}"
																			th:text="${patient.gender}"></td>
																	</tr>
																	<tr>
																		<th>Birth Date</th>
																		<td th:if="${patient.birthDate != null}"
																			th:text="${#dates.format(patient.birthDate,'dd-MMM-yyyy')}"></td>
																		<td th:if="${patient.birthDate == null}"
																			th:text="'Not Available'"></td>
																	</tr>
																	<tr>
																		<th>Age</th>
																		<td th:id="'ageView' + ${patient.patientId}"
																			th:text="${patient.age}"></td>
																	</tr>
																	<tr>
																		<th>Email</th>
																		<td th:id="'emailView' + ${patient.patientId}"
																			th:text="${patient.email}"></td>
																	</tr>
																	<tr>
																		<th>Mobile</th>
																		<td th:if="${patient.mobile != null}"
																			th:id="'mobileView' + ${patient.patientId}"
																			th:text="${patient.mobile}"></td>
																		<td th:if="${patient.mobile == null}"
																			th:id="'mobileView' + ${patient.patientId}"
																			th:text="'Not Available'"></td>
																	</tr>
																	<tr>
																		<th>Phone</th>
																		<td th:if="${patient.phoneNumber != null}"
																			th:id="'phoneView' + ${patient.patientId}"
																			th:text="${patient.phoneNumber}"></td>
																		<td th:if="${patient.phoneNumber == null}"
																			th:id="'phoneView' + ${patient.patientId}"
																			th:text="'Not Available'"></td>
																	</tr>
																	<tr>
																		<th>Registration Date</th>
																		<td
																			th:text="${#dates.format(patient.firstVisitDate,'dd-MMM-yyyy')}"></td>
																	</tr>
																</table>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-default"
																	data-dismiss="modal">Close</button>
															</div>
														</div>
													</div>
												</div>
											</td>
											<td>
												<button type="button" class="btn btn-success"
													data-toggle="modal"
													th:attr="data-target='#editModal' + ${patient.patientId}"
													th:id="'editButton' + ${patient.patientId}"
													th:onclick="'setTitleDropDown(\'' + ${patient.patientId} + '\',\'' + ${patient.title} + '\');
													setGenderDropDown(\'' + ${patient.patientId} + '\',\'' + ${patient.gender} + '\');'">
													<i class="glyphicon glyphicon-edit"></i>
												</button> <!-- Edit Modal -->
												<div th:attr="id='editModal' + ${patient.patientId}"
													class="modal fade" role="dialog">
													<div class="modal-dialog">
														<!-- Modal content-->
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal">&times;</button>
																<h4 class="modal-title">Edit Personal Details</h4>
															</div>
															<div class="modal-body">
																<table class="table table-striped">
																	<tr>
																		<th>Id</th>
																		<td><input th:attr="id= ${patient.patientId}"
																			type="text" th:value="${patient.patientId}"
																			readonly="true" class="form-control" /></td>
																	</tr>
																	<tr>
																		<th>Title</th>
																		<td>
																			<div class="input-group col-sm-3">
																				<select name="titleListEdit" class="form-control"
																					th:id="'titleEdit' + ${patient.patientId}">
																					<option value="">Select Title</option>
																					<option th:value="Mr.">Mr.</option>
																					<option th:value="Mrs.">Mrs.</option>
																					<option th:value="Ms.">Ms.</option>
																				</select>
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<th>First Name</th>
																		<td><input
																			th:id="'firstNameEdit' + ${patient.patientId}"
																			type="text" class="form-control"
																			th:value="${patient.firstName}" /></td>
																	</tr>
																	<tr>
																		<th>Middle Name</th>
																		<td><input
																			th:id="'middleNameEdit' + ${patient.patientId}"
																			type="text" class="form-control"
																			th:value="${patient.middleName}" /></td>
																	</tr>
																	<tr>
																		<th>Last Name</th>
																		<td><input
																			th:id="'lastNameEdit' + ${patient.patientId}"
																			type="text" class="form-control"
																			th:value="${patient.lastName}" /></td>
																	</tr>
																	<tr>
																		<th>Gender</th>
																		<td>
																			<div class="input-group col-sm-3">
																				<select name="genderListEdit" class="form-control"
																					th:id="'genderEdit' + ${patient.patientId}">
																					<option value="">Select Gender</option>
																					<option th:value="M">Male</option>
																					<option th:value="F">Female</option>
																				</select>
																			</div>
																		</td>
																	</tr>

																	<tr>
																		<th>Birth Date</th>
																		<td th:if="${patient.birthDate != null}"
																			th:text="${#dates.format(patient.birthDate,'dd-MMM-yyyy')}"></td>
																		<td th:if="${patient.birthDate == null}"
																			th:text="'Not Available'"></td>
																	</tr>
																	<tr>
																		<th>Age</th>
																		<td><input
																			th:id="'ageEdit' + ${patient.patientId}"
																			type="text" class="form-control"
																			th:value="${patient.age}" readonly="true" /></td>
																	</tr>
																	<tr>
																		<th>Email</th>
																		<td><input
																			th:id="'emailEdit' + ${patient.patientId}"
																			type="text" class="form-control"
																			th:value="${patient.email}" /></td>
																	</tr>
																	<tr>
																		<th>Mobile</th>
																		<td><input
																			th:id="'mobileEdit' + ${patient.patientId}"
																			type="text" class="form-control"
																			th:value="${patient.mobile}" /></td>
																	</tr>
																	<tr>
																		<th>Phone</th>
																		<td><input
																			th:id="'phoneEdit' + ${patient.patientId}"
																			class="form-control" type="text"
																			th:value="${patient.phoneNumber}" /></td>
																	</tr>
																</table>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-success edit_model"
																	data-dismiss="modal"
																	th:onclick="'editBtn(
																	document.getElementById(\'' + ${patient.patientId} + '\').value,
																	document.getElementById(\'' + titleEdit + ${patient.patientId} + '\').options
																	[document.getElementById(\'' + titleEdit + ${patient.patientId} + '\').selectedIndex].value,
																	document.getElementById(\'' + firstNameEdit + ${patient.patientId} + '\').value,
																	document.getElementById(\'' + middleNameEdit + ${patient.patientId} + '\').value,
																	document.getElementById(\'' + lastNameEdit + ${patient.patientId} + '\').value,
																	
																	document.getElementById(\'' + genderEdit + ${patient.patientId} + '\').options
																	[document.getElementById(\'' + genderEdit + ${patient.patientId} + '\').selectedIndex].value,
																	document.getElementById(\'' + emailEdit + ${patient.patientId} + '\').value,
																	document.getElementById(\'' + mobileEdit + ${patient.patientId} + '\').value,
																	document.getElementById(\'' + phoneEdit + ${patient.patientId} + '\').value);'">
																	Submit</button>
																<button type="button" class="btn btn-default"
																	data-dismiss="modal">Close</button>
															</div>
														</div>
													</div>
												</div>
											</td>
											<td th:if="${session.userRole} != 'receptionist'">
												<button type="button" class="btn btn-danger"
													data-toggle="modal"
													th:attr="data-target='#deleteModal' + ${patient.patientId}">
													<i class="glyphicon glyphicon-trash"></i>
												</button> <!-- Delete Confirmation Modal -->
												<div th:attr="id='deleteModal' + ${patient.patientId}"
													class="modal fade" role="dialog">
													<div class="modal-dialog">

														<!-- Delete Modal content-->
														<div class="modal-content">
															<div class="modal-body">
																<p th:text="#{patient.delete.confirmation}"></p>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-danger"
																	th:onclick="'deleteBtn(\'' + ${patient.patientId} + '\');'"
																	data-dismiss="modal">Yes, I want to delete it</button>
																<button type="button" class="btn btn-default"
																	data-dismiss="modal">No</button>
															</div>
														</div>

													</div>
												</div> <!-- / Delete Confirmation Modal -->
											</td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/ajaxCalls.js}"></script>
	<script>
		// When the document is ready
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>
</body>
</html>