<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a New Learner</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="shortcut icon" th:href="@{/img/em_fav.png}" type="image/x-icon" />
<script type="text/javascript" th:src="@{/js/jquery3.min.js}"></script>
</head>
<body>
	<div id="wrapper" class="toggled">
		
		<!-- Navbar Fragment -->
		<div th:replace="layout :: navbar"></div>
		
		<!-- Contact Us Fragment -->
		<div th:replace="layout :: contactUs"></div>
		
		<!-- Sidebar Fragment -->
		<div th:replace="layout :: sidebar"></div>
		
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h2>Add Learner</h2>
							<hr />
						</div>
						<form action="#" method="post" id="patientForm" data-toggle="validator"
							th:action="@{/dashboard/learnerCreate}" th:object="${newPatient}"
							class="form-horizontal">
							
							<div class="form-group">
								<label class="control-label col-sm-2"> Title : </label>
								<div class="input-group col-sm-3">
									<select name="titleList" th:field="*{title}"
										class="form-control">
										<option value="">Select Title</option>
										<option th:value="Mr.">Mr.</option>
										<option th:value="Mrs.">Mrs.</option>
										<option th:value="Ms.">Ms.</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2"> First Name : </label>
								<div class="input-group col-sm-3">
									<input type="text" th:field="*{firstName}" class="form-control"
										placeholder="Enter First Name" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2"> Middle Name : </label>
								<div class="input-group col-sm-3">
									<input type="text" th:field="*{middleName}" class="form-control"
										placeholder="Enter Middle Name" />
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Last Name : </label>
								<div class="input-group col-sm-3">
									<input type="text" th:field="*{lastName}" class="form-control"
										placeholder="Enter Last Name" />
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Address : </label>
								<div class="input-group col-sm-3">
									<input type="text" th:field="*{address}" class="form-control"
										placeholder="Enter Address" />
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Email : </label>
								<div class="input-group col-sm-3">
									<input type="email" th:field="*{email}" class="form-control"
										placeholder="Enter Email" />
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-4">
									<input type="checkbox" id="checkDob"/>
									<label class="label label-default"> Show/Hide Birth Date</label>
								</div>
							</div>
							<div class="form-group hidden" id="divDob">
								<!-- <input type="text" class="form-control"> -->
								<label class="control-label col-sm-2"> Date Of Birth : </label>
								<div class="input-group date col-sm-3">
									<input type="date" class="form-control" th:field="*{birthDate}"
										placeholder="Click to select date" id="birthDate"  /> <span
										class="input-group-addon"><span
										class="glyphicon glyphicon-calendar" id="datePicker"></span> </span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Age : </label>
								<div class="input-group col-sm-3">
									<input type="text" th:field="*{age}" class="form-control"
										id="age" placeholder="Enter Age" />
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Gender : </label>
								<div class="input-group col-sm-3">
									<select name="genderList" th:field="*{gender}"
										class="form-control">
										<option value="">Select Gender</option>
										<option th:value="M">Male</option>
										<option th:value="F">Female</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Mobile : </label>
								<div class="input-group col-sm-3">
									<input type="text" pattern="[0-9]{10}" th:field="*{mobile}"
										class="form-control" placeholder="Enter a mobile number" />
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-4">
									<input type="checkbox" id="checkPhone"/>
									<label class="label label-default"> Show/Hide Another Phone Number</label>
								</div>
							</div>
							
							<div class="form-group hidden" id="divPhone">
								<label class="control-label col-sm-2"> Phone : </label>
								<div class="input-group col-sm-3">
									<input type="text" pattern="[0-9]{10}"
										th:field="*{phoneNumber}" class="form-control"
										id="phoneNumber" placeholder="Enter a Phone Number" />
								</div>
							</div>
							
							<div class="form-group">
								<span th:if="${patientCreateResult} != null" th:text=""></span>
								<div class="col-sm-offset-2 col-sm-2">
									<input type="submit" value="Add" class="btn btn-success" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/validations.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript">
            // When the document is ready
            /* $(document).ready(function () {
                $('#birthDate').datepicker({
                    format: "yyyy-mm-dd"
                });  
            }); */
            $("#menu-toggle").click(function(e) {
        	    e.preventDefault();
           	    $("#wrapper").toggleClass("toggled");
        	});
        </script>

</body>
</html>
